<!--

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
{{define "comment"}}
{{range .comments}}
<div class="border-bottom py-2 comment-item border-top">
  <div class="d-block">
    <div class="fmt small">
      {{formatLinkNofollow .ParsedText}}
    </div>
  </div>
  <div class="d-flex justify-content-between small">
    <div class="d-flex align-items-center link-secondary">
      <a href="{{$.baseURL}}/users/{{.Username}}">{{.UserDisplayName}}</a><span
      class="mx-1">•</span>
      <time
        class="me-3"
        datetime="{{timeFormatISO $.timezone .CreatedAt}}"
        title="{{translatorTimeFormatLongDate $.language $.timezone .CreatedAt}}">{{translatorTimeFormat $.language $.timezone .CreatedAt}}
      </time>
      <button type="button"
              class="me-3 btn-no-border p-0 link-secondary btn btn-link btn-sm">
        <i class="br bi-hand-thumbs-up-fill"></i>
        {{if ne 0 .VoteCount}}
        <span class="ms-2">{{.VoteCount}}</span>
        {{end}}
      </button>
      <button type="button"
              class="link-secondary m-0 p-0 btn-no-border btn btn-link btn-sm">
        {{translator $.language "ui.comment.btn_reply"}}
      </button>
    </div>

    <div class="d-block d-md-none dropdown">
      <div class="no-toggle dropdown-toggle" id="dropdown-comment"
           aria-expanded="false" variant="success">
        <i class="br bi-three-dots text-secondary"></i>
      </div>
    </div>
  </div>
</div>
{{end}}
{{end}}
