<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="manifest" href="/manifest.json"/>
    <link href="{{.cssPath}}" rel="stylesheet" />
    <script defer="defer" src="{{.scriptPath}}"></script>
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
        <nav id="header" class="sticky-top navbar navbar-expand-lg navbar-dark">
            <div class="d-flex align-items-center container">
                <button aria-controls="navBarContent" id="navBarToggle" type="button" aria-label="Toggle navigation"
                    class="answer-navBar me-2 navbar-toggler collapsed">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex justify-content-between align-items-center nav-grow flex-nowrap">
                    <a class="lh-1 me-0 me-sm-3 navbar-brand" href="/"><img
                            class="d-none d-lg-block logo rounded-1 me-0"
                            src="https://answer.dev.segmentfault.com/uploads/branding/4Gud8KXBXA9.png" alt="" /><img
                            class="lg-none logo rounded-1 me-0"
                            src="https://answer.dev.segmentfault.com/uploads/branding/4GxqyBKy6hu.png" alt="" /></a>
                </div>
                <div class="me-auto navbar-collapse collapse" id="navBarContent">
                    <hr class="hr lg-none mb-2" style="margin-top: 12px" />
                    <div class="col-md-4">
                        <div class="navbar-nav">
                            <a class="nav-link" href="/questions">Questions</a><a class="nav-link" href="/tags">Tags</a>
                        </div>
                    </div>
                    <hr class="hr lg-none mt-2" />

                </div>
            </div>
        </nav>
        <div class="position-relative page-wrap">
            <div class="pt-4 mt-2 mb-5 container">
                <div class="justify-content-center row">
                    <div class="col-xxl-7 col-lg-8 col-sm-12">
                        <div class="d-flex flex-column flex-md-row mb-4">
                            <a href="/users/bmm11uodayryy"><img
                                    src="/static/media/default-avatar.ac1be9284e893e315871fa5e571cabaf.svg"
                                    width="160px" height="160px" class="rounded" alt="" /></a>
                            <div class="ms-0 ms-md-4 mt-4 mt-md-0">
                                <div class="d-flex align-items-center mb-2">
                                    <a class="link-dark h3 mb-0" href="/users/bmm11uodayryy">robin</a>
                                    <div class="ms-2">
                                        <span class="text-body badge bg-light">Mod</span>
                                    </div>
                                </div>
                                <div class="text-secondary mb-4">@bmm11uodayryy</div>
                                <div class="d-flex flex-wrap mb-3">
                                    <div class="me-3">
                                        <strong class="fs-5">89</strong><span class="text-secondary"> reputation</span>
                                    </div>
                                    <div class="me-3">
                                        <strong class="fs-5">1</strong><span class="text-secondary"> answers</span>
                                    </div>
                                    <div>
                                        <strong class="fs-5">1</strong><span class="text-secondary"> questions</span>
                                    </div>
                                </div>
                                <div class="d-flex text-secondary"></div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start justify-content-md-end col-xxl-3 col-lg-4 col-sm-12">

                    </div>
                </div>
                <div class="justify-content-center row">

                    <div class="col-xxl-7 col-lg-8 col-sm-12">
                        <div>
                            <h5 class="mb-3">About Me</h5>
                            <div class="text-center py-5 mb-4">// Hello, World !</div>
                        </div>
                    </div>
                    <div class="mt-5 mt-lg-0 col-xxl-3 col-lg-4 col-sm-12">

                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center" style="
          position: fixed;
          top: 90px;
          left: 0px;
          right: 0px;
          margin: auto;
          z-index: 5;
        "></div>
        <footer class="bg-light py-3">
            <div class="container">
                <p class="text-center mb-0 fs-14 text-secondary">
                    Built on <a href="https://answer.dev/" target="_blank"> Answer </a>-
                    the open-source software that power Q&amp;A communities<br />Made
                    with love © 2022 Answer
                </p>
            </div>
        </footer>
    </div>
</body>

</html>
