{{define "page"}}
<ul class="d-inline-flex mb-0 pagination pagination-sm">
  {{ if ne .page.Currpage 1 }}
  <li class="page-item">
    <a class="page-link" href="?page={{$.page.Prevpage}}"><span aria-hidden="true">Prev</span><span
        class="visually-hidden">Prev</span></a>
  </li>
  {{ end }}
  {{ range $value := .page.Pages }}
  {{ if eq $.page.Currpage $value }}
  <li class="page-item active">
    <span class="page-link" href="?page={{$value}}">{{$value}}
      <span class="visually-hidden">(current)</span>
    </span>
  </li>
  {{ else }}
  <li class="page-item">
    <a class="page-link" href="?page={{$value}}">{{$value}}</a>
  </li>
  {{ end }}
  {{ end }}
  {{ if lt $.page.Currpage $.page.Totalpages }}
  <li class="page-item">
    <a class="page-link" href="?page={{$.page.Nextpage}}"><span aria-hidden="true">Next</span><span
        class="visually-hidden">Next</span></a>
  </li>
  {{ end }}
</ul>
{{end}}
ㅤ
