<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="manifest" href="/manifest.json"/>
    <link href="{{.cssPath}}" rel="stylesheet" />
    <!-- <script defer="defer" src="{{.scriptPath}}"></script> -->
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
        <nav id="header" class="sticky-top navbar navbar-expand-lg navbar-dark">
            <div class="d-flex align-items-center container">
                <button aria-controls="navBarContent" id="navBarToggle" type="button" aria-label="Toggle navigation"
                    class="answer-navBar me-2 navbar-toggler collapsed">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex justify-content-between align-items-center nav-grow flex-nowrap">
                    <a class="lh-1 me-0 me-sm-3 navbar-brand" href="/"><img
                            class="d-none d-lg-block logo rounded-1 me-0"
                            src="https://answer.dev.segmentfault.com/uploads/branding/4Gud8KXBXA9.png" alt="" /><img
                            class="lg-none logo rounded-1 me-0"
                            src="https://answer.dev.segmentfault.com/uploads/branding/4GxqyBKy6hu.png" alt="" /></a>
                </div>
                <div class="me-auto navbar-collapse collapse" id="navBarContent">
                    <hr class="hr lg-none mb-2" style="margin-top: 12px" />
                    <div class="col-md-4">
                        <div class="navbar-nav">
                            <a class="nav-link" href="/questions">Questions</a><a class="nav-link" href="/tags">Tags</a>
                        </div>
                    </div>
                    <hr class="hr lg-none mt-2" />

                </div>
            </div>
        </nav>
        <div class="position-relative page-wrap">
            <div class="pt-4 mt-2 mb-5 container">
                <div class="justify-content-center row">
                    <div class="col-xxl-7 col-lg-8 col-sm-12">
                        <div class="tag-box mb-5">
                            <h3 class="mb-3">
                                <a class="link-dark" href="/tags/apple">Apple</a>
                            </h3>
                            <p class="text-break">
                                对外只有3001一个端口，群集内有负载策略会分发给不同实例1111<a class="ms-1" href="/tags/apple/info">[More]</a>
                            </p>
                            <div class="box-ft">
                                <button type="button" class="btn btn-outline-primary">
                                    Follow
                                </button>
                            </div>
                        </div>
                        <div>
                            <div class="mb-3 d-flex flex-wrap justify-content-between">
                                <h5 class="fs-5 text-nowrap mb-3 mb-md-0">3 Questions</h5>
                            </div>
                            <div class="border-top border-bottom-0 list-group list-group-flush">
                                <div class="border-bottom pt-3 pb-2 px-0 list-group-item">
                                    <h5 class="text-wrap text-break">
                                        <a class="link-dark" href="/questions/10010000000000875">测试标签处理</a>
                                    </h5>
                                    <div
                                        class="d-flex flex-column flex-md-row align-items-md-center fs-14 text-secondary">
                                        <div class="d-flex">
                                            <div class="text-secondary me-1">
                                                <a href="/users/str234ing"><span
                                                        class="me-1 text-break">str234ing</span></a><span
                                                    class="fw-bold" title="Reputation">1,000</span>
                                            </div>
                                            •<time class="text-secondary ms-1" datetime="2022-11-25T17:53:59.000Z"
                                                title="Nov 26, 2022 at 01:53">modified Nov 26</time>
                                        </div>
                                        <div class="ms-0 ms-md-3 mt-2 mt-md-0">
                                            <span><i class="br bi-hand-thumbs-up-fill"></i><em
                                                    class="fst-normal ms-1">0</em></span><span class="ms-3"><i
                                                    class="br bi-chat-square-text-fill"></i><em
                                                    class="fst-normal ms-1">0</em></span><span
                                                class="summary-stat ms-3"><i class="br bi-eye-fill"></i><em
                                                    class="fst-normal ms-1">56</em></span>
                                        </div>
                                    </div>
                                    <div class="question-tags mx-n1 mt-2">
                                        <a href="/tags/discussion"
                                            class="badge-tag rounded-1 badge-tag-required m-1"><span
                                                class="">discussion</span></a><a
                                            href="/tags/%E9%BB%84%E9%A9%AC%E7%94%B2"
                                            class="badge-tag rounded-1 badge-tag-reserved m-1"><span
                                                class="">黄马甲</span></a><a href="/tags/apple"
                                            class="badge-tag rounded-1 m-1"><span class="">apple</span></a><a
                                            href="/tags/string" class="badge-tag rounded-1 m-1"><span
                                                class="">string</span></a>
                                    </div>
                                </div>
                                <div class="border-bottom pt-3 pb-2 px-0 list-group-item">
                                    <h5 class="text-wrap text-break">
                                        <a class="link-dark" href="/questions/10010000000000762">Examples and usage
                                            guidelines for form control
                                            styles</a>
                                    </h5>
                                    <div
                                        class="d-flex flex-column flex-md-row align-items-md-center fs-14 text-secondary">
                                        <div class="d-flex">
                                            <div class="text-secondary me-1">
                                                <a href="/users/fenbox"><span
                                                        class="me-1 text-break">fen</span></a><span class="fw-bold"
                                                    title="Reputation">162</span>
                                            </div>
                                            •<time class="text-secondary ms-1" datetime="2022-11-23T02:55:02.000Z"
                                                title="Nov 23, 2022 at 10:55">answered Nov 23</time>
                                        </div>
                                        <div class="ms-0 ms-md-3 mt-2 mt-md-0">
                                            <span><i class="br bi-hand-thumbs-up-fill"></i><em
                                                    class="fst-normal ms-1">1</em></span><span
                                                class="ms-3 text-success"><i class="br bi-check-circle-fill"></i><em
                                                    class="fst-normal ms-1">4</em></span><span
                                                class="summary-stat ms-3"><i class="br bi-eye-fill"></i><em
                                                    class="fst-normal ms-1">225</em></span>
                                        </div>
                                    </div>
                                    <div class="question-tags mx-n1 mt-2">
                                        <a href="/tags/apple" class="badge-tag rounded-1 m-1"><span
                                                class="">apple</span></a><a href="/tags/spring%20boot"
                                            class="badge-tag rounded-1 m-1"><span class="">spring boot</span></a>
                                    </div>
                                </div>
                                <div class="border-bottom pt-3 pb-2 px-0 list-group-item">
                                    <h5 class="text-wrap text-break">
                                        <a class="link-dark" href="/questions/10010000000000550">test date [closed]</a>
                                    </h5>
                                    <div
                                        class="d-flex flex-column flex-md-row align-items-md-center fs-14 text-secondary">
                                        <div class="d-flex">
                                            <div class="text-secondary me-1">
                                                <a href="/users/bmm11uodayryy"><span
                                                        class="me-1 text-break">robin</span></a><span class="fw-bold"
                                                    title="Reputation">89</span>
                                            </div>
                                            •<time class="text-secondary ms-1" datetime="2022-09-29T12:16:18.000Z"
                                                title="Sep 29, 2022 at 20:16">answered Sep 29</time>
                                        </div>
                                        <div class="ms-0 ms-md-3 mt-2 mt-md-0">
                                            <span><i class="br bi-hand-thumbs-up-fill"></i><em
                                                    class="fst-normal ms-1">1</em></span><span class="ms-3"><i
                                                    class="br bi-chat-square-text-fill"></i><em
                                                    class="fst-normal ms-1">1</em></span><span
                                                class="summary-stat ms-3"><i class="br bi-eye-fill"></i><em
                                                    class="fst-normal ms-1">691</em></span>
                                        </div>
                                    </div>
                                    <div class="question-tags mx-n1 mt-2">
                                        <a href="/tags/javascript" class="badge-tag rounded-1 m-1"><span
                                                class="">js</span></a><a href="/tags/apple"
                                            class="badge-tag rounded-1 m-1"><span class="">apple</span></a><a
                                            href="/tags/flutter" class="badge-tag rounded-1 m-1"><span
                                                class="">flutter</span></a><a href="/tags/nextjs"
                                            class="badge-tag rounded-1 m-1"><span class="">nextjs</span></a><a
                                            href="/tags/umijs" class="badge-tag rounded-1 m-1"><span
                                                class="">umijs</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 mb-2 d-flex justify-content-center"></div>
                        </div>
                    </div>
                    <div class="mt-5 mt-lg-0 col-xxl-3 col-lg-4 col-sm-12">

                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center" style="
          position: fixed;
          top: 90px;
          left: 0px;
          right: 0px;
          margin: auto;
          z-index: 5;
        "></div>
        <footer class="bg-light py-3">
            <div class="container">
                <p class="text-center mb-0 fs-14 text-secondary">
                    Built on <a href="https://answer.dev/" target="_blank"> Answer </a>-
                    the open-source software that power Q&amp;A communities<br />Made
                    with love © 2022 Answer
                </p>
            </div>
        </footer>
    </div>
</body>

</html>
