{{template "header" . }}
            <div style="
            position: fixed;
            top: 90px;
            left: 0px;
            right: 0px;
            margin: auto;
            z-index: 5;
          ">
                <div class="d-flex justify-content-center"></div>
            </div>
            <div class="py-3 my-3 container">
                <div class="mb-4 d-flex justify-content-center row">
                    <div class="col-xxl-10 col-sm-12">
                        <h3 class="mb-4">Tags</h3>
                    </div>
                    <div class="mt-4 col-xxl-10 col-sm-12">
                        <div class="row">

                            <div class="mb-4 col-lg-3 col-md-4 col-sm-6 col-12">
                                <div class="h-100 card">
                                    <div class="d-flex flex-column align-items-start card-body">
                                        <a href="/tags/%E7%AE%97%E6%B3%95" class="badge-tag rounded-1 mb-3"><span
                                                class="">算法</span></a>
                                        <p class="fs-14 flex-fill text-break text-wrap text-truncate-4">212121212121221
                                        </p>
                                        <div class="d-flex align-items-center">
                                           <span class="text-secondary fs-14 text-nowrap">0
                                                questions</span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="mb-4 col-lg-3 col-md-4 col-sm-6 col-12">
                                <div class="h-100 card">
                                    <div class="d-flex flex-column align-items-start card-body">
                                        <a href="/tags/%E7%AE%97%E6%B3%95" class="badge-tag rounded-1 mb-3"><span
                                                class="">算法</span></a>
                                        <p class="fs-14 flex-fill text-break text-wrap text-truncate-4">212121212121221
                                        </p>
                                        <div class="d-flex align-items-center">
                                           <span class="text-secondary fs-14 text-nowrap">0
                                                questions</span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="d-flex justify-content-center">
                            <ul class="d-inline-flex mb-0 pagination pagination-sm">
                                <li class="page-item active">
                                    <span class="page-link" href="/tags?page=1">1<span
                                            class="visually-hidden">(current)</span></span>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="/tags?page=2">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="/tags?page=2"><span aria-hidden="true">Next</span><span
                                            class="visually-hidden">Next</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



{{template "footer" .}}

