.comments-wrap {
  .comment-item {
    &:hover {
      .control-area {
        display: flex !important;
      }
    }
  }
  .fmt {
    display: inline;
    p {
      &:last-child {
        display: inline;
      }
    }
  }
}
