.settings-nav {
  flex: none;
  width: 20%;
}

.settings-main {
  flex: none;
  width: 60%;
}

// lg
@media screen and (max-width: 1199.9px) {
  .settings-nav {
    width: 30%;
  }
  .settings-main {
    width: 70%;
  }
}

// sm
@media screen and (max-width: 767.9px) {
  .settings-nav {
    width: 100%;
  }
  .settings-main {
    width: 100%;
  }
}
