.page-main {
  max-width: 70%;
}
.page-right-side {
  flex: none;
  width: 30%;
}

// lg
@media screen and (max-width: 1199.9px) {
  .page-main {
    max-width: 100%;
  }
  .page-right-side {
    width: 100%;
  }
}
