.edit-answer-wrap {
  .content-wrap {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;

    .content {
      height: calc(100% - 12px);
      overflow-y: scroll;
      z-index: 1;
    }
    .scroll-bar {
      height: 12px;
    }

    .line {
      position: absolute;
      transition: 0.3s;
      pointer-events: none;
    }

    .resize-bottom {
      overflow-y: scroll;
      width: 16px;
      min-height: 50px;
      resize: vertical;
      transform: scale(100, 1);
      height: 100%;
    }
    .resize-bottom + .line {
      left: 0;
      width: 100%;
      height: 12px;
      top: auto;
      bottom: 0;
    }
  }
}
